body {
    font-family: 'Arial', sans-serif;
    background-color: #DDDDDD;
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    padding: 20px;
    color: #FFFFFF;
    background-color: #1E90FF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}